<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" *ngFor="let i of data">

            <div class="card">
                
                <div class="card-body">
                  <h5 class="card-title">Name:{{i.name}}</h5>
                  <p class="card-text">Address:{{i.address}}</p>
                  
                </div>
               <ul class="list-group list-group-flush">
                <li class="list-group-item">Email:{{i.email}}</li>
                <li class="list-group-item">Phone:{{i.phone}}</li>
                <!-- <li class="list-group-item">Email:{{data[0].}}</li> -->
               </ul>

              

        </div>
    </div>
</div>
